openapi: 3.2.0
info:
  title: RecVue Pricing API
  description: RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition.
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Pricing
  description: Price lists, tier pricing, and pricing rules.
paths:
  /pricelists:
    get:
      operationId: getPriceLists
      tags:
      - Pricing
      summary: Get price lists
      description: Paginated retrieval of price lists with filtering.
      x-endpointsModeled: true
      responses:
        '200':
          description: A list of price lists.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/PriceList'
components:
  schemas:
    PriceList:
      type: object
      properties:
        priceListId:
          type: string
        name:
          type: string
        type:
          type: string
          enum:
          - STANDARD
          - CUSTOMER
          - REVENUE
          - HIERARCHICAL
        items:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
