openapi: 3.2.0
info:
  title: RecVue Billing API
  description: RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition.
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Billing
  description: Bill runs and invoice generation.
paths:
  /billruns:
    get:
      operationId: getBillRuns
      tags:
      - Billing
      summary: Get bill runs
      description: Retrieves bill runs with advanced filtering by name, date, and status.
      x-endpointsModeled: true
      responses:
        '200':
          description: A list of bill runs.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/BillRun'
    post:
      operationId: createBillRun
      tags:
      - Billing
      summary: Create bill run
      description: Generates invoices. Status flows CREATED to PROCESSING to COMPLETED.
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillRun'
      responses:
        '200':
          description: The created bill run.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BillRun'
components:
  schemas:
    BillRun:
      type: object
      properties:
        billRunId:
          type: string
        name:
          type: string
        status:
          type: string
          enum:
          - CREATED
          - PROCESSING
          - COMPLETED
        billingDate:
          type: string
          format: date
      additionalProperties: true
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
