openapi: 3.2.0
info:
  title: RecVue Revenue Recognition API
  description: RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition.
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Revenue Recognition
  description: ASC 606 / IFRS 15 revenue-contract configuration.
paths:
  /revenue/contract-amendment-setup:
    get:
      operationId: getRevenueContractAmendmentSetup
      tags:
      - Revenue Recognition
      summary: Get revenue contract amendment setup
      description: Retrieves ASC 606 performance-obligation (POB) and compliance configuration for revenue-contract amendments.
      x-endpointsModeled: true
      responses:
        '200':
          description: The revenue contract amendment setup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueContractAmendmentSetup'
    post:
      operationId: createRevenueContractAmendmentSetup
      tags:
      - Revenue Recognition
      summary: Create revenue contract amendment setup
      description: Creates ASC 606 POB and compliance controls for a revenue contract.
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RevenueContractAmendmentSetup'
      responses:
        '200':
          description: The created setup.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RevenueContractAmendmentSetup'
components:
  schemas:
    RevenueContractAmendmentSetup:
      type: object
      properties:
        setupId:
          type: string
        performanceObligation:
          type: string
        allocationMethod:
          type: string
        complianceStandard:
          type: string
          enum:
          - ASC606
          - IFRS15
      additionalProperties: true
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
