openapi: 3.2.0
info:
  title: RecVue Customers API
  description: RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition.
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Customers
  description: Customer accounts, sites, and contacts.
paths:
  /customers:
    get:
      operationId: getCustomerAccounts
      tags:
      - Customers
      summary: Get customer accounts
      description: Retrieves customer accounts by ID or origSystemReference.
      x-endpointsModeled: true
      responses:
        '200':
          description: A list of customer accounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/CustomerAccount'
    post:
      operationId: createCustomerAccount
      tags:
      - Customers
      summary: Create customer account
      description: Creates a customer account with partner and payment-term validation.
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerAccount'
      responses:
        '200':
          description: The created customer account.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerAccount'
components:
  schemas:
    CustomerAccount:
      type: object
      properties:
        accountNumber:
          type: string
        name:
          type: string
        origSystemReference:
          type: string
        paymentTerms:
          type: string
        sites:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
