openapi: 3.0.3
info:
  title: RecVue Authentication API
  description: 'RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition. This OpenAPI is derived from RecVue''s public developer reference at https://developer.recvue.com. The base URLs, the OAuth2 client-credentials authentication, and the paths for representative operations (for example GET /orders) are confirmed from that public reference; the full request/response schemas are honestly modeled from the documented resource operations rather than reproduced field-for-field, and RecVue tenants (production and sandbox) are provisioned through an enterprise sales process. Endpoints marked with `x-endpointsModeled: true` reflect documented operations whose exact path or payload was not verified verbatim. Treat this as a navigational model, not a generated client contract; consult developer.recvue.com/reference for authoritative detail.'
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Authentication
  description: OAuth2 client-credentials token issuance.
paths:
  /api/scim/oauth/token:
    post:
      operationId: issueAccessToken
      tags:
      - Authentication
      summary: Issue OAuth2 access token
      description: Issues an access token using the client_credentials grant. Authenticate with a Basic auth header or by passing client_id/client_secret as form parameters. Content-Type is application/x-www-form-urlencoded.
      security: []
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                client_id:
                  type: string
                client_secret:
                  type: string
                scope:
                  type: string
      responses:
        '200':
          description: An access token.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccessToken'
        '401':
          $ref: '#/components/responses/Unauthorized'
components:
  schemas:
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
    AccessToken:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
        scope:
          type: string
  responses:
    Unauthorized:
      description: Authentication failed or token is missing/expired.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
