openapi: 3.2.0
info:
  title: RecVue Programs API
  description: RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition.
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Programs
  description: Asynchronous concurrent programs (bill runs, revenue, exports).
paths:
  /programs/execute:
    post:
      operationId: executeConcurrentProgram
      tags:
      - Programs
      summary: Execute concurrent program
      description: Asynchronously executes a background program - bill runs, revenue recognition, tax, and exports.
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                programId:
                  type: string
                parameters:
                  type: object
                  additionalProperties: true
      responses:
        '202':
          description: Program accepted for asynchronous execution.
          content:
            application/json:
              schema:
                type: object
                properties:
                  requestId:
                    type: string
                  status:
                    type: string
components:
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
