openapi: 3.2.0
info:
  title: RecVue Invoices API
  description: RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition.
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Invoices
  description: Invoices and adjustments (AR integration).
paths:
  /invoices:
    post:
      operationId: createInvoice
      tags:
      - Invoices
      summary: Create or update invoice
      description: Creates or updates an invoice for manual AR integration.
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Invoice'
      responses:
        '200':
          description: The created or updated invoice.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Invoice'
components:
  schemas:
    Invoice:
      type: object
      properties:
        invoiceNumber:
          type: string
        customerAccountNumber:
          type: string
        transactionType:
          type: string
          enum:
          - INV
          - CM
          - DM
        amount:
          type: number
        glDate:
          type: string
          format: date
      additionalProperties: true
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
