openapi: 3.0.3
info:
  title: RecVue Authentication Usage API
  description: 'RecVue is an enterprise revenue management platform (RevOS) covering order-to-cash, billing, usage-based monetization, pricing, and ASC 606 / IFRS 15 revenue recognition. This OpenAPI is derived from RecVue''s public developer reference at https://developer.recvue.com. The base URLs, the OAuth2 client-credentials authentication, and the paths for representative operations (for example GET /orders) are confirmed from that public reference; the full request/response schemas are honestly modeled from the documented resource operations rather than reproduced field-for-field, and RecVue tenants (production and sandbox) are provisioned through an enterprise sales process. Endpoints marked with `x-endpointsModeled: true` reflect documented operations whose exact path or payload was not verified verbatim. Treat this as a navigational model, not a generated client contract; consult developer.recvue.com/reference for authoritative detail.'
  version: '2.0'
  contact:
    name: RecVue
    url: https://www.recvue.com/
servers:
- url: https://api.recvue.com/api/v2.0
  description: Production
- url: https://sandbox-api.recvue.com/api/v2.0
  description: Sandbox
security:
- oauth2ClientCredentials: []
tags:
- name: Usage
  description: Usage/delivery ingestion for consumption billing.
paths:
  /usage/batches:
    post:
      operationId: loadUsageBatch
      tags:
      - Usage
      summary: Load usage records into batch
      description: Loads usage records as a JSON payload routed to the Usage Hub for consumption-based billing.
      x-endpointsModeled: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UsageBatch'
      responses:
        '200':
          description: The accepted usage batch.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageBatch'
  /deliveries:
    get:
      operationId: getDeliveries
      tags:
      - Usage
      summary: List usages/deliveries
      description: Paginated ORDER_DELIVERIES records.
      x-endpointsModeled: true
      responses:
        '200':
          description: A list of deliveries.
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/Delivery'
components:
  schemas:
    UsageBatch:
      type: object
      properties:
        batchId:
          type: string
        records:
          type: array
          items:
            type: object
            additionalProperties: true
      additionalProperties: true
    Delivery:
      type: object
      properties:
        deliveryId:
          type: string
        orderLineId:
          type: string
        quantity:
          type: number
        deliveryDate:
          type: string
          format: date
        status:
          type: string
      additionalProperties: true
  securitySchemes:
    oauth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://api.recvue.com/api/v2.0/api/scim/oauth/token
          scopes: {}
